
/* stylesheet for http://securitydigest.org */

/* general formatting */
body {  
    font-family:Helvetica, Arial, Sans-Serif;
    color:#000000;
    width:90%;
    background-color:#ffffff;
}
h1 {
    font-size:140%;
    font-weight:bold;
    margin:0pt;
}
h2 {    
    font-size:120%;
    font-weight:bold;
    margin-top:3%;
}
h3 {
    font-size:100%;
    font-weight:bold;
    margin-top:1%;
    margin-bottom:1%;
}
a:link { color:#780000; }
a:visited { color:#780000; }
a:active { color:red; }


/* legal notices */
.legal-notice {
    color:red;
    font-size:75%;
}
.legal-notice a:link, 
.legal-notice a:visited, 
.legal-notice a:active { 
    color:red;
    font-weight:bold; 
}

/* news notices */
.changes-notice {
    color:blue;
    font-size:75%;
}
.changes-notice a:link, 
.changes-notice a:visited, 
.changes-notice a:active { 
    color:blue;
    font-weight:bold; 
}
.changes-notice-table {
    margin:0pt;
}
.changes-notice-entry {
    color:blue;
    font-size:89%;
    vertical-align:top;
    text-align:left;
    line-height:94%;
}

/* objectives listing */
.objectives-table {
    width:100%;
    margin-bottom:2pt;
}
.objectives-entry {
    vertical-align:top;
}
.objectives-name {
    font-weight:bold;
}
.objectives-detail {
}

/* display formatting */
.display-format {
    font-family:Courier, monospace;
    background-color:#f0f0f0;
    font-size:89%;
}
.raw-format {
    font-family:Courier, monospace;
    white-space:pre;
}

/* archive information */
.archive-info-table {
    width:90%;
    margin:0pt;
}
.archive-info-type {
    text-align:left;
    font-weight:bold;
    vertical-align:top;
    padding-right:4pt;
    padding-left:24pt;
}
.archive-info-entry {
    text-align:left;
    vertical-align:top;
}

/* archive brief */
.archive-brief-table {
    width:100%;
    background-color:#f0f0f0;
    margin:0pt;
}
.archive-brief-head {
    background-color:#e0e0e0;
}
.archive-brief-stats {
    font-size:89%;
}
.archive-brief-descr {
    font-size:89%;
}

/* archive information */
.archive-summary-table {
    width:90%;
}
.archive-summary-entry {
    padding-left:24pt;
    text-align:left;
    vertical-align:top;
}
.archive-descr-table {
    width:90%;
}
.archive-descr-entry {
    padding-left:24pt;
    text-align:left;
    vertical-align:top;
}

/* archive listing */
.archive-table {
    font-family:Courier, monospace;
    font-size:89%;
}
.archive-head {
    text-align:left;
    vertical-align:top;
    font-weight:bold;
}
.archive-list {
    text-align:left;
    vertical-align:top;
    padding-left:24pt;
}

/* archive list - by author */
.archive-byauthor-table {
    width:100%;
    margin:0pt;
    border-collapse:collapse;
}
.archive-byauthor-author {
    font-size:89%;
    text-align:left;
}
.archive-byauthor-subject {
    font-size:89%;
    padding-left:12pt;
}
/* archive list - by date */
.archive-bydate-table {
    width:100%;
    margin:0pt;
    border-collapse:collapse;
}
.archive-bydate-date {
    white-space:nowrap;
    font-family:monospace;
    font-size:89%;
    text-align:left;
}
.archive-bydate-subject {
    font-size:89%;
    padding-left:12pt;
}
/* archive list - by thread */
.archive-bythread-table {
    width:100%;
    margin:0pt;
    border-collapse:collapse;
}
.archive-bythread-date {
    white-space:nowrap;
    font-family:monospace;
    font-size:89%;
    text-align:left;
}
.archive-bythread-subject {
    font-size:89%;
    text-align:left;
}

.alt-row-0 {
    background:#f0f0f0;
}
.alt-row-1 {
    background:#e0e0e0;
}

/* description */
.descr-quot-table {
	width:95%;
    font-style:italic;
	margin-left:auto;
	margin-right:auto;
}

/* resource (usenet) listing */
.resource-usenet-table {
    font-family:Courier, monospace;
    font-size:89%;
    width:90%;
}
.resource-usenet-head {
    text-align:left;
    vertical-align:top;
    font-weight:bold;
}
.resource-usenet-entry {
    text-align:left;
    vertical-align:top;
    padding-left:24pt;
}

/* resource listing */
.resource-table {
    font-family:Courier, monospace;
    font-size:89%;
    width:90%;
}
.resource-head {
    text-align:left;
    vertical-align:top;
    font-weight:bold;
}
.resource-entry {
    text-align:left;
    vertical-align:top;
    padding-left:24pt;
}
.resource-description {
}
.resource-detail {
}

/* mirror listing */
.mirror-table {
    font-family:Courier, monospace;
    font-size:89%;
    width:90%;
}
.mirror-head {
    text-align:left;
    vertical-align:top;
    font-weight:bold;
}
.mirror-entry {
    text-align:left;
    vertical-align:top;
    padding-left:24pt;
}
.mirror-description {
}
.mirror-detail {
}

/* content listing */
.content-table {
    font-size:89%;
    width:90%;
}

/* change listing */
.changes-table {
    width:100%;
}
.changes-date {
    white-space:nowrap;
    font-family:monospace;
    text-align:left;
    vertical-align:top;
}
.changes-descr {
    text-align:left;
    vertical-align:top;
    padding-left:12pt;
}

/* future listing */
.futures-table {
    width:100%;
}
.futures-prio {
    white-space:nowrap;
    font-family:monospace;
    text-align:left;
    vertical-align:top;
}
.futures-descr {
    text-align:left;
    vertical-align:top;
    padding-left:12pt;
}

/* announce listing */
.announce-table {
	width:100%;
    margin-bottom:2pt;
}
.announce-when {
    text-align:left;
    vertical-align:top;
}
.announce-what {
    text-align:left;
    vertical-align:top;
    padding-left:12pt;
}

/* index listing */
.index-table {
    width:90%;
}
.index-link {
    padding-left:16pt;
}
.index-item {
}

/* footer */
.footer-table {
    width:100%;
    background-color:#c0c0c0;
    font-size:75%;
    margin-top:5%;
}
.footer-entry {
    font-style:italic;
}

/* header */
.header-table {
    width:100%;
    background-color:#c0c0c0;
}
.header-title {
    text-decoration:none;
    color:#000000;
}
.header-menu {
    font-size:89%;
}
.header-bar {
    font-size:100%;
    font-weight:bold;
}

/* compatibility */
.compat-table {
    width:100%;
    margin:0pt;
}

/* terms and conditions */
.terms-title {
    font-weight:bold;
}
.terms-intro {
    color:red;
}
.terms-contents {
    font-weight:bold;
}
.terms-contents a:link,
.terms-contents a:visited,
.terms-contents a:active {
    text-decoration:none;
    color:#000000;
}
.terms-section {
}
.terms-section-title {
    font-weight:bold;
}
.terms-item {
    font-weight:bold;
}
.terms-table {
    width:90%;
    background-color:#e0e0e0;
}
.terms-column {
    font-size:89%;
}

